/**{outline: 1px solid rgba(255,0,0,0.2);}*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2, h3, h4, h5, h6{
  font-family: 'Montserrat';
}
h1{
    font-size: 3.5em;
}
h2{
  font-size: 2.8em;
}
h3{
  font-size: 2.1em;
}
h4{
  font-size: 1.5em;
}
h5{
  font-size: 1.1em;
}
h6{
  font-size: 0.9em;
}
html{
    height: 100vh;
}
/*========================================*/
/* la tabla padre, contenedora */
.table-layout {
  display: table;
  width: 100%;
}
.table-layout.table-fixed {
  table-layout: fixed;
}
/* cada celda lateral */
.table-layout .table-cell {
  display: table-cell;
  width: 100%;
  vertical-align: top; /* necesario para Safari y Firefox */
}
.table-layout .fixed-width {
  width: 200px; /* el ancho fijo que estimes necesario */
}
/*========================================*/
section{
  padding-right: 4%;
  padding-left: 4%;
  height: 100vh;
  color: white;
}
.divider{
    border: 1px solid white;
    width: 5%;
    margin: 2% auto 2.5%;
}
.contenido{
    display: block;
}
.title{
    padding: 3% 0;
}

/*================ MENU LATERAL ===============*/
aside{
  height: 100vh;
  position: fixed;
  width: 200px;
  background-color: #000000;
  color: white;
  padding: 65px 0px;
}
aside p:first-child{
  font-family: 'Kaushan Script';
  font-size: 2.7em;
  text-align: center;
}
aside p:hover{
  color: rgb(99, 62, 133);
}
aside p:nth-child(2){
  padding: 6px 0;
}
aside img{
  border-radius: 50%;
  width: 60px;
  margin: auto;
  padding: 4%;
}
aside ul{
  list-style: none;
}
aside ul > li{
  padding: 2px 20px;
  font-size: 1.1em;
}
aside ul > li > a> i{
  margin-right: 8px;
}
aside ul > li > a> div> h5{
  font-family: 'Montserrat';
}

.ca-menu li{
    height: 50px;
    overflow: hidden;
    display: block;
    /*background: #fff;*/
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    margin-bottom: 0px;
    border-left: 6px solid #000;
    -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.ca-menu li a{
    text-align: left;
    display: block;
    width: 100%;
    height: 100%;
    color: #CCC0B7;
    position:relative;
}
.ca-icon{
    font-size: 15px;
    text-shadow: 0px 0px 1px #333;
    line-height: 45px;
    /*position: absolute;*/
    width: 90px;
    left: 5px;
    text-align: center;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    -ms-transition: all 300ms;
    transition: all 300ms;
}
.ca-content{
    position: absolute;
    left: 40px;
    top: 4px;
}
.ca-main{
    /*font-size: 20px;*/
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    -ms-transition: all 300ms;
    transition: all 300ms ;
}

.ca-menu li:hover{
    border-color: #fff004;
    background: #000;
}
.ca-menu li:hover .ca-icon{
    color: #fff004;
    text-shadow: 0px 0px 1px #fff004;
    transform: scale(1.2);
    font-size: 20px;
}
.ca-menu li:hover .ca-main{
    color: #fff004;    
    transform: scale(1.2);
}

.redSocial{
  text-align: center;
  padding: 10% 0px;
}
.redSocial .fa-stack{
  width: 2.3em;
  height: 2.3em;
  line-height: 2.3em;
  border-radius: 100%;
  background-color: white;
  color: #5D2A90;
  margin: 0px 3px;
  font-size: 1em;    
}
.redSocial .fa-stack:hover{
  border: 1px solid #5D2A90;
  background-color: #5D2A90;
  color: white;
}

/*================ FRASES ===============*/
#frase {
  margin:60px, 0;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 200px;  
  background-size: cover;
  background-attachment: fixed;
}
#frase .oscuro{
  background: rgba(0,0,0,0.5);
  padding-top: 60px;
  padding-bottom: 34px;
  padding-right: 5%;
  /*margin-left: 200px;*/
}
.uno{
  background: url(../images/rosa-azul.jpg) ;
  padding-top: 60px;
  padding-right: 5%;
}
.dos{
  background: url(../images/camino.jpg) no-repeat center center;
}
.tres{
  background: url(../images/nube.jpg) no-repeat center center;
}
.cuatro{
  background: url(../images/eco.jpg) no-repeat center center;
}
#frase blockquote, #frase cite {
  color: #FFF !important;
}
#frase blockquote h5 {
  font-weight: bolder;
}

/*================ ANIMACIONES ===============*/
#animaciones{
  margin: 40px, 0px, 40px, 230px;
  height: 200px;
}
#animaciones .sombra{
  background: rgba(0,0,0,0.5);
  margin-left: 200px;
  padding-right: 5%;
  padding-top: 60px;
  padding-bottom: 60px;  
}
/*.animaciones .box_icon {
  display: inline-block;
  text-align: center;
  margin-left: 200px;
  width: 180px;  
  margin-top: 4%;
}
.animaciones .box_icon:hover p {
  color: #2A3159;
  transition: all 1s ease-in;
}
.animaciones .box_icon i {
  font-size: 3.5em;
}
.animaciones .box_icon p {
  font-size: 0.8em;
  color: transparent;
  text-align: center;
}*/

.tipeo{
  /*background-image: url("../images/code.jpg");*/
  background-color: #000000;
  margin-top: 20px;
  margin-bottom: 20px;
}
.tipeo .opaco{
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 2.9em !important;
  font-family: "VT323";
  color: white;
  width: 100%;
}

/*=============== HOME ===================*/
.home{
    background: url(../images/viajes.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed; 
    /*font-family: 'Montserrat';*/
    color: #900F38;
    display: flex;         /*centrar el texto*/ 
    align-items: center;
    justify-content: center;   /*end centrar el texto*/ 
}
.home p{
  background: rgba(0,0,0,0.2);
}

/*================ ABOUT ===============*/
.about{
    /*background: url(../images/galeria.jpg); CCC0B7*/
    background-size: cover;
    /*background-attachment: fixed;*/
    background-color: #D34C89;
    text-align: center;
    display: block;
}
.about .info{
  margin-top: 1%; 
}
.info .gris{
  background: rgba(0,0,0,0.7);
  border-radius: 3%;
}
.info img{
    border-radius: 50%;
    width: 24vw;
    height: 54vh;
    /*margin: auto;*/
}
.info .foto{
    padding-top: 3%;
    margin-left: 15%;
    margin-right: 5%;
} 
.informacion{
    margin-right: 15%;
    margin-left: 5%;
    padding: 3%;
}
.informacion p{
    font-size: 1.4em;
    font-family: 'ABeezee';
    text-align: center;
    line-height: 1.2em;
}

/*================= SKILLS - development==================*/
#skills {
  background-color: #0392F9   ;
  /*#514B70  A94A87*/
  background-size: cover;
  padding-top: 3%;
}
#skills .icon {
  background-color: #fff;
  opacity: 0.8;
  border-radius: 150%;
  padding: 1.5em;
  width: 9em;
  height: 9em;
  margin-top: 15%;
  margin-left: 27%; 
}
#skills i {
  font-size: 6em;
  color: black;
  margin-left: 5%; 
}
#skills img {
  width: 6em;
  height: 6em;
  border-radius: 20px;
  transition: all 2s ease-in-out; 
}
#skills img:hover{
  opacity:0.9;
  padding:0;
  transform: rotate(720deg) scale(1.2);
}
#skills p {
  text-align: center;
  color: #200000;
  font-size: 2em; 
}
#skills .sass {
  width: 5.5em;
  height: 5.5em;
  margin-left: 5%;
  margin-top: 2%;
  border-radius: 150px; 
}
#skills .boot {
  width: 7em;
  height: 5em;
  margin-top: 2%;
  margin-left: -10% !important; 
}
#skills .progress {
  background-color: #CCC0B7; 
}
#skills .progress-bar {
  background-color: #AB3B62; 
}

/*================= SKILLS - soft ==================*/
#habilidades{
    background-color: #2760B3   ; 
    /*#4B6890; #0392F9*/
    /*background-color: rgba(255, 255, 255, 0.2);*/
    padding-top: 5%;
}

#hexGrid {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  padding: 0.866% 0;
  font-family: 'Raleway', sans-serif;
  font-size: 15px; 
}
#hexGrid:after {
  content: "";
  display: block;
  clear: both; 
}
.hex {
  position: relative;
  list-style-type: none;
  float: left;
  overflow: hidden;
  visibility: hidden;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate(-60deg) skewY(30deg) translatez(-1px);
  -ms-transform: rotate(-60deg) skewY(30deg) translatez(-1px);
  transform: rotate(-60deg) skewY(30deg) translatez(-1px); 
}
.hex * {
  color: #fff;
  position: absolute;
  visibility: visible;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */ 
}
.hexIn {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg); 
}
/*** HEX CONTENT **********************************************************************/
.hex img {
  left: -100%;
  right: -100%;
  width: 100%;
  height: 100%;
  margin: 0 auto; 
}
.hex h2, .hex p {
  width: 102%;
  left: -1%;
  /* prevent line on the right where background doesn't cover image */
  padding: 5%;
  box-sizing: border-box;
  background-color: rgba(107, 172, 26, 0.9);
  font-weight: 300;
  -webkit-transition: -webkit-transform .2s ease-out, opacity .3s ease-out;
  transition: transform .2s ease-out, opacity .3s ease-out; 
}
.hex h2 {
  bottom: 50%;
  padding-top: 50%;
  font-size: 1.5em;
  z-index: 1;
  -webkit-transform: translateY(-100%) translatez(-1px);
  -ms-transform: translateY(-100%) translatez(-1px);
  transform: translateY(-100%) translatez(-1px); 
}
.hex h2:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 10%;
  text-align: center;
  border-bottom: 1px solid #fff; 
}
.hex p {
  font-size: 1.2em;
  top: 50%;
  padding-bottom: 50%;
  -webkit-transform: translateY(100%) translatez(-1px);
  -ms-transform: translateY(100%) translatez(-1px);
  transform: translateY(100%) translatez(-1px); 
}
/*** HOVER EFFECT  **********************************************************************/
.hexIn:hover h2, .hexIn:focus h2,
.hexIn:hover p, .hexIn:focus p {
  -webkit-transform: translateY(0%) translatez(-1px);
  -ms-transform: translateY(0%) translatez(-1px);
  transform: translateY(0%) translatez(-1px); 
}
/*** SPACING AND SIZING *****************************************************************/
@media (min-width: 1201px) {
  /* <- 5-4  hexagons per row */
  .hex {
    width: 19.2%;
    /* = (100-4) / 5 */
    padding-bottom: 22.170%;
    /* =  width / sin(60deg) */ 
  }
  .hex:nth-child(9n+6),
  .hex:nth-child(9n+7),
  .hex:nth-child(9n+8),
  .hex:nth-child(9n+9) {
    margin-top: -4.676%;
    margin-bottom: -4.676%;
    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    transform: translateX(50%) rotate(-60deg) skewY(30deg); 
  }
  .hex:nth-child(9n+6):last-child,
  .hex:nth-child(9n+7):last-child,
  .hex:nth-child(9n+8):last-child,
  .hex:nth-child(9n+9):last-child {
    margin-bottom: 0; 
  }
  .hex:nth-child(9n+6) {
    margin-left: 0.5%;
    clear: left; 
  }
  .hex:nth-child(9n+10) {
    clear: left; 
  }
  .hex:nth-child(9n+2),
  .hex:nth-child(9n+ 7) {
    margin-left: 1%;
    margin-right: 1%; 
  }
  .hex:nth-child(9n+3),
  .hex:nth-child(9n+4),
  .hex:nth-child(9n+8) {
    margin-right: 1%; } 
  } }
@media (max-width: 1200px) and (min-width: 901px) {
  /* <- 4-3  hexagons per row */
  .hex {
    width: 24.25%;
    /* = (100-3) / 4 */
    padding-bottom: 28.001%;
    /* =  width / sin(60deg) */ 
  }
  .hex:nth-child(7n+5),
  .hex:nth-child(7n+6),
  .hex:nth-child(7n+7) {
    margin-top: -6.134%;
    margin-bottom: -6.134%;
    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    transform: translateX(50%) rotate(-60deg) skewY(30deg); 
  }
  .hex:nth-child(7n+5):last-child,
  .hex:nth-child(7n+6):last-child,
  .hex:nth-child(7n+7):last-child {
    margin-bottom: 0; 
  }
  .hex:nth-child(7n+2),
  .hex:nth-child(7n+6) {
    margin-left: 1%;
    margin-right: 1%; 
  }
  .hex:nth-child(7n+3) {
    margin-right: 1%; 
  }
  .hex:nth-child(7n+8) {
    clear: left; 
  }
  .hex:nth-child(7n+5) {
    clear: left;
    margin-left: 0.5%; 
  } }
@media (max-width: 900px) and (min-width: 601px) {
  /* <- 3-2  hexagons per row */
  .hex {
    width: 32.666%;
    /* = (100-2) / 3 */
    padding-bottom: 37.720%;
    /* =  width / sin(60) */ 
  }
  .hex:nth-child(5n+4),
  .hex:nth-child(5n+5) {
    margin-top: -8.564%;
    margin-bottom: -8.564%;
    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    transform: translateX(50%) rotate(-60deg) skewY(30deg); 
  }
  .hex:nth-child(5n+4):last-child,
  .hex:nth-child(5n+5):last-child {
    margin-bottom: 0; 
  }
  .hex:nth-child(5n+4) {
    margin-right: 1%;
    margin-left: 0.5%; 
  }
  .hex:nth-child(5n+2) {
    margin-left: 1%;
    margin-right: 1%; 
  }
  .hex:nth-child(5n+6) {
    clear: left; 
  } }
@media (max-width: 600px) {
  /* <- 2-1  hexagons per row */
  .hex {
    width: 49.5%;
    /* = (100-1) / 2 */
    padding-bottom: 57.158%;
    /* =  width / sin(60) */ 
  }
  .hex:nth-child(3n+3) {
    margin-top: -13.423%;
    margin-bottom: -13.423%;
    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    transform: translateX(50%) rotate(-60deg) skewY(30deg); 
  }
  .hex:nth-child(3n+3):last-child {
    margin-bottom: 0; 
  }
  .hex:nth-child(3n+3) {
    margin-left: 0.5%; 
  }
  .hex:nth-child(3n+2) {
    margin-left: 1%; 
  }
  .hex:nth-child(3n+4) {
    clear: left; 
  } }
@media (max-width: 400px) {
  #hexGrid {
    font-size: 13px; 
} }

/*================ PROJECTS ===============*/
#portfolio{
    /*background-color: #ffdd3f; #57e676; #d869b2; #ff395e; #37c5e9; */
    background-color: #4285F4;
    background-size: cover;
    background-attachment: fixed;
    padding: 2% 3%;
    position: relative;
}

.imagen1{
    perspective :1000px;
}
.imagen1 .frenteImagen{
    position: absolute;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    transition: all .4s linear;
}
.imagen1 .detrasImagen{
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all .4s linear;
    -webkit-filter: hue-rotate(180deg); /* Chrome y Safari */
    -moz-filter: hue-rotate(180deg); /* Mozilla */
    -ms-filter: hue-rotate(180deg); /* Internet Explorer */
    -o-filter: hue-rotate(180deg); /* Opera */
}
.imagen1:hover .frenteImagen{
    transform: rotateY(-180deg);
    cursor: pointer;
}
.imagen1:hover .detrasImagen{
    transform: rotateY(0deg);
    cursor: pointer;
}
.imagen1 p{
    background-color: #F44336;
    border-bottom: 1px sollid #fff;
    border-top: 1px sollid #fff;
    position: absolute;
    width: 100%;
    bottom: 7%;
    height: 35px;
    line-height: 35px;
    font-size: 1.3em;
}
.provisional{
    padding: 12% 0 4%; /* revisar solo muestra */
}

/*================= CONTACT ==================*/
.contactame {
    /*background-color: rgba(0,0,0,0.5);*/
    height: 100vh;
    display: flex;        /* centrar el texto */
    align-items: center;
    justify-content: center;  /* end centrar el texto */
}
.contactame{    
    background-color: #714764;   
}
.correo{
    font-family: 'Kaushan Script';
    font-size: 3em;
}
.contactame .fa{
    font-size: 6em;
}
.contactame .fa.fa-stack{
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    margin: 4% 2% 0;
    border-radius: 29%;
    color: #C9C2C7;
}
.contactame .fa.fa-stack:hover{
    background-color: #C9C2C7;
    color: #714764;
    border-radius: 29%;
}

